@font-face {
    font-weight: 400;
    font-family: 'Century Gothic';
    src: url("../fonts/centurygothic.ttf");
}

@font-face {
    font-weight: 700;
    font-family: 'Century Gothic';
    src: url("../fonts/centurygothic_bold.ttf");
}