$minWidth: 320;
$maxWidth: 1920;
$minWidthForHeader: 1100;


@mixin adaptive-any($property, $minSize, $maxSize, $unit, $important: false) {
    $factor: ($maxSize - $minSize) / ($maxWidth - $minWidth);
    $minSizeUnit: #{$minSize + $unit};

    @if $important {
        #{$property}: calc($minSizeUnit + $factor * (100vw - #{($minWidth + px)})) !important;

        @media (min-width: #{$maxWidth + px}) {
            #{$property}: #{$maxSize + $unit} !important;
        }

        @media (max-width: #{$minWidth + px}) {
            #{$property}: #{$minSize + $unit} !important;
        }
    }

    @else {
        #{$property}: calc($minSizeUnit + $factor * (100vw - #{($minWidth + px)}));

        @media (min-width: #{$maxWidth + px}) {
            #{$property}: #{$maxSize + $unit};
        }

        @media (max-width: #{$minWidth + px}) {
            #{$property}: #{$minSize + $unit};
        }
    }


}

@mixin adaptive-any-header($property, $minSize, $maxSize, $unit, $important: false) {
    $factor: ($maxSize - $minSize) / ($maxWidth - $minWidthForHeader);
    $minSizeUnit: #{$minSize + $unit};

    @if $important {
        #{$property}: calc($minSizeUnit + $factor * (100vw - #{($minWidthForHeader + px)})) !important;

        @media (min-width: #{$maxWidth + px}) {
            #{$property}: #{$maxSize + $unit} !important;
        }

        @media (max-width: #{$minWidthForHeader + px}) {
            #{$property}: #{$minSize + $unit} !important;
        }
    }

    @else {
        #{$property}: calc($minSizeUnit + $factor * (100vw - #{($minWidthForHeader + px)}));

        @media (min-width: #{$maxWidth + px}) {
            #{$property}: #{$maxSize + $unit};
        }

        @media (max-width: #{$minWidthForHeader + px}) {
            #{$property}: #{$minSize + $unit};
        }
    }


}

@mixin text-14 {
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

@mixin buttons {
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
    padding-top: 16px;
    padding-bottom: 16px;
    @include adaptive-any(padding-left, 19, 39, px);
    @include adaptive-any(padding-right, 19, 39, px);
    border-radius: 10px;
    color: $white-color;
    border: none;
    cursor: pointer;
}