@import "reset";
@import "fonts";
@import "variables";
@import "mixins";


@import "header";
@import "slogan";
@import "products";
@import "build";
@import "questions";
@import "contacts";
@import "footer";


body {
    font-family: 'Century Gothic', serif;
}

h1,
h2 {
    font-weight: 700;
    @include adaptive-any(font-size, 20, 40, px);
    @include adaptive-any(line-height, 25, 50, px);
}

h2 {
    text-transform: uppercase;
    position: relative;
}

h2::after {
    position: absolute;
    @include adaptive-any(top, 35, 70, px);
    @include adaptive-any(width, 40, 80, px);
    left: 0;
    border-bottom: 2px solid $red-color;
    content: "";
}

h2.dark {
    color: $black-color;
}

h2.light {
    color: $white-color;
}

h3 {
    font-weight: 700;
    text-transform: uppercase;
    @include adaptive-any(font-size, 16, 18, px);
    @include adaptive-any(line-height, 20, 25, px);
    @include adaptive-any(margin-bottom, 25, 55, px);
}

h4 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.container {
    max-width: 1380px;
    margin-left: auto;
    margin-right: auto;
    padding-right: 20px;
    padding-left: 20px;
}

.link-animation {
    box-shadow: inset 0 0 0 0 $orange-btns-color;
    transition: box-shadow 1s ease, color .5s ease;
    border-radius: 5%;
    padding: 7px;
    border-radius: 5px;
}

.link-animation:hover {
    box-shadow: inset 310px 0 0 0 $orange-btns-color;
    color: $white-color;
}

.btn-animation {
    transition: background 1s ease, color .5s ease;
}

.form-inp-animation {
    transition: all .5s ease;
}

.form-inp-animation:hover {
    border: 1px solid $red-color;
}

.form-inp-animation:focus {
    border: 1px solid $black-color;
    background: $gray-color-opacity;
}